<!DOCTYPE HTML5>
<html>
<head>
    <meta charset="utf-8">
    <title>News Application</title>
    <!-- Add links here -->
    <script src="{{ url_for('static', filename='scripts/jquery-3.3.1.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='PageCss.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='scripts/PageJavaScript.js')}}"></script>
</head>
<body>
    <!--<div class="myDiv">-->
        <div id="headertop">
            <form class="searchForm" id="searchBar">
                <input type="text" placeholder="Search...">
                <!-- May have to be changed to type submit -->
                <button type="button" onclick="enlarge()"><i class="fa fa-search"></i></button>
            </form>
            <div class="centeredBoxes">
                ABC News: <input type="checkbox" id="check1" onclick="toggleSelected(1)">
                BBC News: <input type="checkbox" id="check2" onclick="toggleSelected(2)">
                CBS News: <input type="checkbox" id="check3" onclick="toggleSelected(3)">
                CNN: <input type="checkbox" id="check4" onclick="toggleSelected(4)">
                ESPN: <input type="checkbox" id="check5" onclick="toggleSelected(5)">
                Fox News: <input type="checkbox" id="check6" onclick="toggleSelected(6)">
                NBC News: <input type="checkbox" id="check7" onclick="toggleSelected(7)">
                New York Times: <input type="checkbox" id="check8" onclick="toggleSelected(8)">
                Wall Street Journal: <input type="checkbox" id="check9" onclick="toggleSelected(9)">
                Washington Post: <input type="checkbox" id="check10" onclick="toggleSelected(10)">
            </div>

            <div id="article-selection">
                <p id="text1" class="noDisplay">Display a ABC News article!</p>
                <p id="text2" class="noDisplay">Display a BBC News article!</p>
                <p id="text3" class="noDisplay">Display a CBS article!</p>
                <p id="text4" class="noDisplay">Display a CNN article!</p>
                <p id="text5" class="noDisplay">Display a ESPN article!</p>
                <p id="text6" class="noDisplay">Display a Fox News article!</p>
                <p id="text7" class="noDisplay">Display a NBC News article!</p>
                <p id="text8" class="noDisplay">Display a New York Times article!</p>
                <p id="text9" class="noDisplay">Display a Wall Street Journal article!</p>
                <p id="text10" class="noDisplay">Display a Washington Post article!</p>
            </div>
        </div>



    <!-- </div>-->

</body>
</html>
