body {
	margin: 10px;
	background-color: #AED6F1;
	font-family: arial;
}

h1 {
	text-align: center;
	font-family: arial;
}

th, td {
	padding: 4px;
}

th {
	background-color: #D8D8D8;
}

td {
	background-color: #fff;
}

a.buttons:link, a.buttons:visited, a.buttons:active {
	color: black;
	font-size: 12px;
	text-decoration: none;
	background-color: #D3D3D3;
	padding: 5px;
	margin: 25px 25px 25px 25px;
	border: 1px solid black;
}

a.buttons:hover {
	background-color: #C3C3C3;
}

form {
	text-align: center;
	margin: 0 auto;
	background-color: #D8D8D8;
	border: 1px solid black;
	padding: 5px;
}

p.message {
	color: red;
	padding: 4px;
	border: 1px solid red;
}
